USE [DbNotKayit]
GO
/****** Object:  Table [dbo].[TBLDERS]    Script Date: 20.09.2022 19:05:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERS](
	[OGRID] [smallint] IDENTITY(1,1) NOT NULL,
	[OGRNUMARA] [char](4) NULL,
	[OGRAD] [varchar](50) NULL,
	[OGRSOYAD] [varchar](50) NULL,
	[OGRS1] [tinyint] NULL,
	[OGRS2] [tinyint] NULL,
	[OGRS3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDERS] ON 

INSERT [dbo].[TBLDERS] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (1, N'1235', N'CAN', N'DEMİR', 100, 100, 100, CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLDERS] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (2, N'1346', N'ESRA', N'KADİROĞLU', 99, 99, 99, CAST(99.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLDERS] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (3, N'1458', N'EYLEM ', N'ÖZTEMEL', 15, 25, 100, CAST(46.67 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[TBLDERS] OFF
GO
